<launch>

    <node pkg="arduino_antagonist_joint_controller" type="joystick_msg_parser_node" name="joystick_msg_parser_node" />
    
    <!-- Credit goes to: https://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="joy_node/dev" value="/dev/input/js0" type="str" />
    </node>

    <!-- rosserial for forwarding arduino messages -->
    <arg name="MCU_port" default="/dev/ttyACM5" />
    <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
    <!-->    <param name="port" value="$(arg MCU_port)" />
        <param name="baud" value="115200" />
    -->

        <rosparam>
            port: /dev/ttyACM5
            baud: 115200
            require:
                publishers: [ chatter ]
                subscribers: [ segment_motor_cmds ]
        </rosparam>

    </node>


    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_msg_info" />

</launch>

<!-- 
    TODO: 
    -> Generate status update msg when controller is connected (particularly after not being able to initially find it).
 -->
